*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container a img
{
    width: 150px;
    height: 49.51px;
}
.hrwd .mr-5
{
    color: black;
    font-weight: 600;
    font-size: 24px ;
}

.hrwd .mr-5 span
{
    color: #ec744a;
}

.hrwd .mr-5 span:hover,.mr-5:hover
{
    color: #92E3A9;
}
.vital
{
    color: black;
    font-size: 64px;
    line-height: 3.5rem;
    margin-left: 15%;
}

.leading-relaxed
{
    color: black;
    font-size: 28px;
    margin-left: 15%;
}

.main-btn
{
    width: 550px;
    height: 97px;
    border-radius: 50px;
    background: #EC744A;
    Top:522px;
    margin-left:18%;
}

.main-btn:hover
{
    background-color: #92E3A9;
}
.main-btn a
{
    color: black;
    font-size: 24px;
    font-weight: 600;
}

/*--------------------------------------------------------------- About Section Start ------------------------------------------------------------------*/

.about-header
{
    height: 18vh;
    width: 100%;
    background-image: url(/images/about-banner.png);
    background-size:cover ;
    background-repeat: no-repeat;
}

.about-text h1
{
   color: white;
   font-size: 44px;
   font-weight: bold;
   margin-left: 10%;
}

.main-text h1
{
    margin-left: 15%;
}

.main-text h2
{
    margin-left: 15%;
    color: black;
    font-size: 32px;
    font-weight: bold;
}
.main-text p
{
    font-size: 20px;
    color: black;
    line-height: 1.5rem;
}

.why-user
{
    width: 80%;
    margin-left: 10%;
    height: 35vh;
}





/*--------------------------------------------------------------------- emergency section start --------------------------------------------------------*/
.user 
{
    background-color: #92E3A9;
    margin-left: 50%;
}